<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> Workout Tracker </a>
    <div class="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">
          Home <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" href="search-workouts"> Search Workouts </a>
        <a class="nav-link" href="friends"> Friends</a>
        <a class="nav-link" href="workouts"> Workouts</a>
        <% if(user) { %>
         <a class="nav-link" href="saved-workouts">My Saved Workouts</a>
        <a class="nav-link" href="create-workout"> Create A Workout </a>
        <a class="nav-link" href="logout"> <%= user.email %> (Logout) </a> <%
        }%> <% if(!user) { %>
        <a class="nav-link" href="login"> Login </a>
        <a class="nav-link" href="join"> Register </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
;
